

h1{
        color: rgb(17, 3, 29);
        text-decoration: underline;

}

body{

        background-color: rgb(0, 255, 247);
        border: 10pt;
        margin: 50pt;
        border-style: solid;
        padding: 5pt;
        padding-left: 5pt;
        text-align: center;
        white-space: pre;
        align-items: center;
             

        
}

    button{

                color: rgb(248, 20, 66);
    }

    label{

            color: tomato;
    }

    #results{
                color: rgb(15, 14, 14);
                text-size-adjust: 50;
                font-size: large;
                text-decoration: underline;
    }
em{
    color: rgb(0, 72, 255);
}
   